<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
</head>
<body>
    <%home1.forEach(data=>{ %>
          <h1><%= HERRYYYYYY%></h1>
        <img src="<%=data.img/gryffindor.png%>" alt="">
        <img src="<%=data.img/hogwarts-crest-inverted.png%>" alt="">
        <img src="<%=img/hufflepuff.png%>" alt="">
        <img src="<%=.img/ravenclaw.png%>" alt="">
        <img src="<%=img/slytherin.png%>" alt="">

        <a href="<%=data.img/gryffindor.png%>">first story</a>
        <a href="<%=data.img/hogwarts-crest-inverted.png%>">2nd story</a>
        <a href="<%=img/hufflepuff.png%>">third story</a>
        <a href="<%=.img/ravenclaw.png%>">story4</a>
        <a href="<%=img/slytherin.png%>">story5</a>
       
    <% });%>
</body>
</html>